*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #c9dbed;
  height: 100vh; 
  display: flex;
  align-items: center;
  justify-content: center; 
  padding: 50px;
} 

.progress{
  display: flex;
  align-items: center;
  /* justify-content: center; */
  width: 200px;
  height: 10px;
  border: 1px solid rgb(17, 16, 16);
  padding: 0;
  
}

.progress-bar{
  background-color: rgb(131, 14, 248);
  width: 25%;
  height: 100%;
  margin: 0px;

}